main { 
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

progress[value] {
  /* --color: conic-gradient(#31c6f7, #31f74b var(--p),lightgrey 0%); */
  --color: conic-gradient(#31c6f7, #31f74b var(--p),lightgrey 0);

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;

  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;

  border-radius: 50%;
  overflow: hidden;
  background: var(--color);
  transform: rotate(225deg);
  mask: radial-gradient(#0000 55%, #000 0% 50%), 
  conic-gradient(from 270deg, #0000 90deg, #000 90deg 270deg);
  mask-composite: intersect;
}

progress[value]::-webkit-progress-bar {
  background: none;
}

progress[value]::-webkit-progress-value {
  background: none;
}

progress[value]::-moz-progress-bar {
  background: var(--color);
}

label {
  --w: 350px; 
  display: inline-grid;
  place-content: center;
  width: var(--w);
  aspect-ratio: 1; 
  position: relative;
}

